{{#if addNewAnswer}}
<div class="boxed">
  <h1>Add Response</h1>
  <form>
    <div class="form-control">
      <label for="response">Enter Your Response</label>
      {{input value=response id="response"}}
    </div>
    <div class="form-control">
      <label for="respondent">Enter Your Name</label>
      {{input value=respondent id="respondent"}}
    </div>
    <button class="btn btn-default" {{action 'saveResponse' answer}}>Save</button>
  </form>
</div>
{{else}}
<button class="btn btn-default" {{action 'addNewAnswer'}}>Enter a Response</button>
{{/if}}
