<div class="boxed">
  <h1>Post Your Question</h1>
  <form>
    <div class="form-group">
      <label for="userQuestion">What is your Question</label>
      {{input value=userQuestion id="userQuestion"}}
    </div>
    <div class="form-group">
      <label for="questionAuthor">What is your Name</label>
      {{input value=questionAuthor id="questionAuthor"}}
    </div>
    <div class="form-group">
      <label for="notes">Please provide as much detail about your question as possible</label>
      {{input value=notes id="notes"}}
    </div>
    <div class="form-group">
      <label for="screenshot">Enter the URL for Your Screenshot</label>
      {{input value=screenshot id="screenshot"}}
    </div>
    <button class="btn-default" {{action 'saveQuestion'}}>Save</button>
  </form>
</div>
