<h2>{{question.userQuestion}}</h2>
<h4>{{question.author}}</h4>
<hr>
<img src="{{question.screenshot}}"/>
<p>{{question.notes}}</p>

{{new-question question=question saveQuestion='saveQuestion' update='update'}}
