<h2>{{question.inquiry}}</h2>
<h5>{{question.author}}</h5>
<h6>{{question.date}}</h6>
<hr>
<img src="{{question.screenshot}}"/>
<p>{{question.notes}}</p>

<br>
<button class="btn btn-default" {{action 'addToFavorites' question}}>Add to Favorites</button>
<br><br>
{{new-answer saveResponse="saveResponse" question=question}}
<br>
{{update-question question=question update="update"}}
<div>
  {{#each sortAnswers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
