<div class="boxed">
  <h1>Post Your Question</h1>
  <form>
    <div class="form-group">
      <label for="updateUserQuestion">What is your Question</label>
      {{input value=updateUserQuestion id="updateUserQuestion"}}
    </div>
    <div class="form-group">
      <label for="Updateauthor">What is your Name</label>
      {{input value=Updateauthor id="Updateauthor"}}
    </div>
    <div class="form-group">
      <label for="updateNotes">Please provide as much detail about your question as possible</label>
      {{input value=updateNotes id="updateNotes"}}
    </div>
    <div class="form-group">
      <label for="updateScreenshot">Enter the URL for Your Screenshot</label>
      {{input value=updateScreenshot id="updateScreenshot"}}
    </div>
    <button class="btn-default" {{action 'update' question}}>Save</button>
  </form>
</div>
